html, body
{
  height: 100%;
  margin: 0;
}
body {
    
    background-image:url("https://img.freepik.com/premium-vector/hand-painted-background-violet-orange-colours_23-2148427578.jpg?w=2000")  ;
    

}

